@model IEnumerable<Reddit_Clone.Models.Subreddit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.subreddit_name }) |
            @Html.ActionLink("Details", "Details", new { id=item.subreddit_name }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.subreddit_name })
        </td>
    </tr>
}

</table>
